.background {
    padding: 3px;
    background-color: black;
}

.card {
    display: flex;
    overflow-x: auto;
    align-items: center;
}

.card--content {
    margin: 5px;
}

@media (max-width: 500px) {
    .card--content {
        margin: 1px;
    }

    .card--image {
        width: 250px;
    }
}

.card::-webkit-scrollbar {
    display: none;
}

/* Zines Desktop Folder Icon */
.zines-folder-icon {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.zines-folder-img {
    width: 140px;
    height: auto;
    object-fit: cover;
}

@media (max-width: 500px) {
    .zines-folder-img {
        width: 90px;
    }
}
