/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
*/
.App-link {
  color: #fff795 !important;
  background-color: #bad7fb !important;
}

.App-text {
  color: #b1a6fd !important;
  font-family: "Roboto Mono", monospace;
  font-size: x-large;
  font-style: italic;
}

@media screen and (max-width: 600px) {
  .App-text {
    font-size: large;
  }
}

.App-dots {
  color: #000000 !important;
}

::selection {
  background: #cfffcc;
}

.App-div {
  margin-top: 20px;
  margin-bottom: 20px;
}

/*
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 

*/
