:root {
  --color-blue: #2e49ff;
  --color-yellow: #ebf4b7;
  --color-purple: #b1a6fd;
  --color-red: #ff3a3a;
  --color-light-green: #cfffcc;
  --color-light-blue: #bad7fb;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

